/**************************
          MIXINS
***************************/
/**************************
       MOBILE STYLE
***************************/
h2,
h3,
h4 {
  text-align: center;
}
p {
  width: 93%;
  margin: 0 auto;
  padding: 10px 0 0 0;
  line-height: 1.4rem;
}
p:last-child {
  padding: 0 0 10px 0;
}
p:only-of-type {
  padding: 10px 0 10px 0;
}
img {
  height: auto;
  max-width: 100%;
}
figcaption {
  margin: 0 0 10px 10px;
  text-align: center;
}
sup {
  vertical-align: super;
  font-size: smaller;
}
.clear {
  clear: both;
}
.hide_in_mobile {
  display: none;
}
.show_in_mobile {
  display: block;
}
.anchor {
  display: block;
  visibility: hidden;
  height: 62px;
  margin-top: -62px;
}
.error_message_span {
  text-align: center;
  color: red;
  display: block;
  padding: 5px;
  border: 1px red solid;
  background-color: #ffe5e5;
  margin: 5px;
}
.required_mark {
  color: red;
}
.bold {
  font-weight: bold;
}
.bottom_space {
  margin-bottom: 5px;
}
.route {
  margin-bottom: 10px;
  border-radius: 5px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.center {
  text-align: center;
}
.card {
  border: 1px solid #DDD;
  background-color: white;
  margin: 0 auto 20px auto;
  border-radius: 5px;
  width: 96%;
  box-shadow: 5px 5px 20px #AAA;
}
.card:first-of-type {
  margin-top: 10px;
}
.card h5 {
  font-weight: bold;
  margin-top: 10px;
  border-bottom: 1px solid #DDD;
  padding-bottom: 10px;
}
html {
  font-family: 'Roboto', arial, sans-serif;
  scroll-behavior: smooth;
}
html body header {
  box-shadow: 2px 2px 2px #777;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
html body header h1 {
  padding: 12px 0 12px 1%;
  font-size: 1.2rem;
  background-color: red;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
}
html body header nav {
  background-color: white;
}
html body header nav ul {
  width: 94%;
  margin: 0 auto;
}
html body header nav ul li {
  text-align: center;
  border-radius: 5px;
  margin: 15px 0;
}
html body header nav ul li.active {
  background-color: #DDD;
}
html body header nav ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  display: block;
  padding: 6px 0;
  margin: 1px 0;
}
html body main {
  margin-top: 62px;
}
html body main article form {
  max-width: 360px;
  margin: 20px auto 30px auto;
  box-shadow: 5px 5px 20px #AAA;
  border: 1px solid #DDD;
  padding: 30px 9%;
  background-color: white;
}
html body main article form div {
  margin: 10px 0;
}
html body main article form div label,
html body main article form div span.placeholder {
  width: 47%;
  display: inline-block;
  text-align: right;
  vertical-align: top;
  margin: 0 1% 0 0;
}
html body main article form div label.textarea_label,
html body main article form div span.placeholder.textarea_label {
  width: 94%;
  text-align: left;
  margin: 10px auto;
  display: block;
}
html body main article form div input,
html body main article form div select {
  width: 48%;
  display: inline-block;
  border: 1px solid black;
}
html body main article form div div.radio_group_container {
  width: 48%;
  display: inline-block;
  margin: 0;
}
html body main article form div div.radio_group_container div.radio_container {
  margin: 0 0 10px 0;
}
html body main article form div div.radio_group_container div.radio_container input.radio_btn {
  width: auto;
  display: inline;
}
html body main article form div textarea {
  border: 1px solid black;
  width: 94%;
  height: 200px;
  margin: 0 auto;
  display: block;
}
html body main article form div textarea.accomodations_textarea {
  height: 100px;
}
html body main article form div p.success_message {
  color: green;
  text-align: center;
}
html body main article form input {
  margin: 0 auto;
  display: block;
}
html body main article h2 {
  font-size: 1.8rem;
  padding: 18px 0 0 0;
}
html body main article h3 {
  font-size: 1.6rem;
  padding: 16px 0 0 0 ;
}
html body main article section {
  margin: 20px 0 0 0;
}
html body main article section form {
  max-width: 360px;
  margin: 20px auto 30px auto;
  box-shadow: 5px 5px 20px #AAA;
  border: 1px solid #DDD;
  padding: 30px 9%;
  background-color: white;
}
html body main article section form div {
  margin: 10px 0;
}
html body main article section form div label,
html body main article section form div span.placeholder {
  width: 47%;
  display: inline-block;
  text-align: right;
  vertical-align: top;
  margin: 0 1% 0 0;
}
html body main article section form div label.textarea_label,
html body main article section form div span.placeholder.textarea_label {
  width: 94%;
  text-align: left;
  margin: 10px auto;
  display: block;
}
html body main article section form div input,
html body main article section form div select {
  width: 48%;
  display: inline-block;
  border: 1px solid black;
}
html body main article section form div div.radio_group_container {
  width: 48%;
  display: inline-block;
  margin: 0;
}
html body main article section form div div.radio_group_container div.radio_container {
  margin: 0 0 10px 0;
}
html body main article section form div div.radio_group_container div.radio_container input.radio_btn {
  width: auto;
  display: inline;
}
html body main article section form div textarea {
  border: 1px solid black;
  width: 94%;
  height: 200px;
  margin: 0 auto;
  display: block;
}
html body main article section form div textarea.accomodations_textarea {
  height: 100px;
}
html body main article section form div p.success_message {
  color: green;
  text-align: center;
}
html body main article section form input {
  margin: 0 auto;
  display: block;
}
html body main article section h4 {
  font-size: 1.4rem;
  padding: 10px 0;
  background-color: black;
  color: white;
}
html body main article section h5 {
  font-size: 1.2rem;
  text-align: center;
}
html body main article section h6 {
  text-align: center;
  font-size: 1.1rem;
  margin: 10px 0 2px 0;
}
html body main article section p.note {
  background-color: lightyellow;
  border: 1px solid yellow;
  padding: 10px 3%;
  margin: 10px auto;
  width: 88%;
  border-radius: 5px;
}
html body main article section p.distance {
  text-align: center;
  margin: 0 auto;
  padding: 0;
}
html body main article section p.question {
  font-weight: bold;
}
html body main article section p.address,
html body main article section p.hours {
  width: 150px;
  margin: 0 auto;
}
html body main article section div.courses_container p:last-of-type {
  padding: 10px 0;
}
html body main article section div.packet_pickup {
  max-width: 300px;
}
html body main article section ul {
  width: 72%;
  margin: 0 auto;
  list-style-type: disc;
}
html body main article section ul li {
  margin: 10px 0;
}
html body main article section table {
  margin: 20px auto;
  border: 1px solid black;
  border-collapse: collapse;
  width: 95%;
  background-color: white;
  max-width: 310px;
}
html body main article section table tr {
  padding: 5px;
}
html body main article section table th {
  padding: 5px 20px;
  vertical-align: middle;
  border: 1px solid black;
  font-weight: bold;
}
html body main article section table td {
  padding: 5px 20px;
  vertical-align: middle;
  border: 1px solid black;
}
html body main article section table.registration_fees tr:nth-child(even),
html body main article section table.event_schedule tr:nth-child(even) {
  background-color: #DDD;
}
html body main article section table.registration_fees td:nth-child(even) {
  width: 5%;
}
html body main article section table.event_schedule td:nth-child(even) {
  width: 36%;
}
html body main article section table.hours {
  max-width: 225px;
}
html body main article section table.hours td:nth-child(odd) {
  font-weight: bold;
}
html body main aside section {
  margin-top: 20px;
  border: 1px solid #AAA;
}
html body main aside section:nth-child(2) {
  background-color: #EEE;
}
html body main aside div.fb-page span {
  margin: 0 auto;
  display: block;
}
html body footer {
  text-align: center;
  background-color: red;
  color: white;
  font-size: 1.1rem;
  line-height: 120%;
  letter-spacing: 0.5px;
}
html body footer ul {
  padding-top: 15px;
}
html body footer ul li {
  display: inline;
}
html body footer ul li a {
  display: inline-block;
  padding: 11.25px;
  border-radius: 5px;
  line-height: 0;
}
html body footer ul li a#x {
  background-color: black;
}
html body footer ul li a#facebook {
  background-color: white;
}
html body footer p {
  padding: 10px 0;
}
/**************************
       TABLET STYLE
***************************/
@media (min-width: 600px) {
  img#slideshow {
    margin-top: 107px;
  }
  .hide_in_mobile {
    display: block;
  }
  .show_in_mobile {
    display: none;
  }
  .anchor {
    height: 101px;
    margin-top: -101px;
  }
  html body header {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: white;
  }
  html body header h1 {
    font-size: 1.5rem;
    padding: 20px 2%;
    border-bottom: 1px solid black;
  }
  html body header nav ul {
    width: 100%;
    position: relative;
    z-index: 1;
    background-color: white;
  }
  html body header nav ul li {
    width: 25%;
    margin: 0;
  }
  html body main {
    position: relative;
    overflow: hidden;
    clear: both;
    margin-top: 0;
  }
  html body main div.left_col_container {
    width: 67%;
    float: right;
  }
  html body main div.left_col_container article:first-of-type {
    position: relative;
  }
  html body main div.left_col_container article h2 {
    padding: 40px 0 10px 0;
  }
  html body main div.left_col_container article h3 {
    padding: 35px 0 10px 0;
  }
  html body main div.left_col_container article img.left_slide_btn,
  html body main div.left_col_container article img.right_slide_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
    opacity: 0.7;
  }
  html body main div.left_col_container article img.left_slide_btn:hover,
  html body main div.left_col_container article img.right_slide_btn:hover {
    opacity: 1;
  }
  html body main div.left_col_container article img.left_slide_btn {
    left: 5px;
  }
  html body main div.left_col_container article img.right_slide_btn {
    right: 5px;
  }
  html body main div.left_col_container article section div.cost_includes {
    margin: 20px auto;
  }
  html body main aside {
    width: 33%;
    position: fixed;
    top: 107px;
    left: 0;
    overflow-y: scroll;
    max-height: 500px;
  }
  html body main aside section:first-of-type {
    margin-top: 0;
  }
  html body footer {
    clear: both;
    position: relative;
    z-index: 1;
  }
  html body footer ul {
    padding: 0;
  }
  html body footer ul li {
    float: right;
    padding: 7px 10px 13px 0;
  }
  html body footer ul li a img {
    margin: 0;
  }
  html body footer p:only-of-type {
    padding: 30px 0;
  }
}
/**************************
       700PX AND UP STYLE
***************************/
@media (min-width: 700px) {
  html body main article section div.cost_includes {
    width: 70%;
  }
  html body main article section table.registration_fees {
    width: 70%;
  }
}
/**************************
       DESKTOP STYLE
***************************/
@media (min-width: 1000px) {
  .float_left {
    float: left;
  }
  .two_col {
    width: 48%;
    margin-left: 2%;
  }
  html body main article div.mission {
    width: 80%;
  }
  html body main article section h4 {
    margin-bottom: 10px;
  }
  html body main article section div.about {
    width: 80%;
  }
  html body main article section div.about p:last-of-type {
    padding: 10px 0;
  }
  html body main article section div.column_container {
    -webkit-column-count: 2;
    /* Chrome, Safari, Opera */
    -moz-column-count: 2;
    /* Firefox */
    column-count: 2;
    -webkit-column-gap: 0;
    /* Chrome, Safari, Opera */
    -moz-column-gap: 0;
    /* Firefox */
    column-gap: 0;
  }
  html body main article section div.column_container div:first-child {
    margin-top: 0;
  }
  html body main article section div.column_container div.card {
    -webkit-column-break-inside: avoid;
    /* Chrome, Safari */
    page-break-inside: avoid;
    /* Theoretically FF 20+ */
    break-inside: avoid-column;
    /* IE 11 */
  }
  html body main article section div.cost_includes,
  html body main article section div.packet_pickup {
    width: 48%;
  }
  html body main article section table.registration_fees {
    width: 48%;
  }
}
